confs/
env/
__pycache__/
.vscode/
!.keep
old/
infra/data/primary
infra/data/secondary
infra/data/dr
infra/data/primary/ssl
infra/data/secondary/ssl
infra/data/dr/ssl

ops/data/primary
ops/data/secondary
ops/data/dr
ops/data/primary/ssl
ops/data/secondary/ssl
ops/data/dr/ssl
