{
  "server": false,
  "datacenter": "{{ CLUSTER }}",
  "node_name": "{{ HOSTNAME }}",
  "data_dir": "/var/run/consul/data",
  "bind_addr": "{{ CLUSTER_IP }}",
  "client_addr": "{{ CLUSTER_IP }}",
  "retry_join": {{ JOIN_RETRY | to_json }},
  "log_level": "DEBUG",
  "enable_syslog": true,
  "acl_enforce_version_8": false
}