[Unit]
Description=Consul client agent
Requires=network-online.target
After=network-online.target

[Service]
User=consul
Group=consul
PIDFile=/run/consul/consul.pid
PermissionsStartOnly=true
ExecStartPre=-/bin/mkdir -p /var/consul/data
ExecStartPre=/bin/chown -R consul:consul /var/consul
ExecStartPre=-/bin/mkdir -p /run/consul
ExecStartPre=/bin/chown -R consul:consul /run/consul
ExecStart=/usr/local/bin/consul agent \
    -config-file=/etc/consul.d/client_agent.json \
    -pid-file=/run/consul/consul.pid
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target